
.logged-out {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: #efefef;

    text-align: center;
    background-image: url(/assets/img/buckeye-leaf.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 5% 15%;

    &-banner {
        border-bottom: 10px solid #BB0000;
        background-image: url(/assets/img/grey-ohio-banner.jpg);
        height: 175px;
        background-position: center right;
        background-size: 100% auto;
    }

    &-message {
        padding: 5% 15%;

        h1 {
            margin-bottom: 1.5rem;
        }

        .lead {
            margin-bottom: 2.5rem;
        }

        a.btn {
            text-decoration: none;
        }
    }
}
